

<div class="content has-text-centered">
    <p>
      <strong>User's Management</strong> by <a href="https://github.com/garzuzo/Node_WKSH">Johnatan Garzón</a>. The source code is licensed
      <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License v3.0</a>.
    </p>
  </div>
</body>

</html>